<div style="
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(12, auto);
  grid-template-rows: repeat(12, 8vh);
">
  <div style="
    grid-column: 2 / 10;
    grid-row: 2 / 13;
  ">
    <div style="font-size: 32px; font-weight: bold;">
      GESTIÓN DE EJERCICIOS
    </div>

    <div style="margin-top: 2rem">
      <div style="margin-left: 10rem;">
        Ejercicios más recomendados
      </div>
      <div style="width: 50%">
        <div id="chart_div"></div>
      </div>
    </div>
  </div>
</div>
